{% extends "base.html" %}
{% load static %}


{% block tobar %}
<div class="collapse navbar-collapse" id="navbarsFurni">
	<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
		<li class="nav-item active">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li><a class="nav-link" href="/shope">Shop</a></li>
		<li class="nav-link dropdown">
			<a class="dropdown-toggle sp-btn text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				Categories
			</a>
			

			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				{% for cat in catagories %}
			  		<li><a class="dropdown-item" href="{% url 'catagory' category_id=cat.pk %}">{{cat.name}}</a></li>
				{% endfor %}
			</ul>
		</li>

		<li><a class="nav-link" href="/contact">Contact us</a></li>
	</ul>

	<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
		<li><a class="nav-link" href="#"><img src="{% static 'images/user.svg' %}"></a></li>
		<li><a class="nav-link" href="/shope"><img src="{% static 'images/cart.svg' %}"></a></li>
	</ul>
</div>
{% endblock tobar %}

{% block content %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Where Quality Meets Reliability</h1>
								<p class="mb-4">From foundation to finishing touches, we’ve got what you need. Where quality meets reliability in every tool.</p>
								<p><a href="/shope" class="btn btn-secondary me-2">Shop Now</a><a href="/shope" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/couch.png' %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Explore our new categories.</h2>
						<p class="mb-4">Discover the latest tools and materials tailored to your needs. Elevate your projects with our expanded selection, explore what's new. </p>
						<p><a href="/shope" class="btn">Explore</a></p>
					</div> 
					<!-- End Column 1 -->

					{% for cat in random_catagories %}

						<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
							<a class="product-item" href="{% url 'catagory' category_id=cat.pk %}">
								<img src="{{cat.image.url}}" class="product-thumbnail">
								<h3 class="product-title">{{cat.name}}</h3>

								<span class="icon-cross">
									<img src="{% static 'images/cross.svg' %}" class="img-fluid">
								</span>
							</a>
						</div>
					
					{% endfor %}


				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Why Choose Us</h2>
						<p>Committed to quality, powered by passion. Discover a team that’s here to help you thrive, every step of the way. </p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Free Shipping</h3>
									<p>Get your order quickly and without extra cost. Fast, reliable, and right to your door. </p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Effortless browsing, seamless checkout. A smooth shopping experience from start to finish. </p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Here for you anytime, day or night. Reach out whenever you need, we're just a message away. </p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>Changed your mind? No problem. Enjoy easy returns with a stress-free process. </p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'images/img-grid-1.jpg' %}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{% static 'images/img-grid-2.jpg' %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/img-grid-3.jpg' %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Our Mission</h2>
						<p>At AL RAIHAN HARDWARES, Our mission is to be the trusted partner in building excellence by
							providing high-quality building materials, safety equipment, and hardware solutions. For over
							two decades, we have been dedicated to supporting the construction industry with reliable
							products and exceptional service. Our commitment is to empower builders, contractors, and
							DIY enthusiasts by delivering top-notch materials and tools that meet rigorous standards of
							durability and performance. </p>

						<ul class="list-unstyled custom-list my-4">
							<li>Safety is at the forefront of our mission</li>
							<li>helping our customers create secure work place</li>
							<li>ensuring exceptional service and support</li>
							<li>maintaining high standards in all aspects</li>
						</ul>
						<p><a herf="/shope" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

		<!-- Start Testimonial Slider -->
		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">

											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
												</blockquote>

												<div class="author-info">
													<div class="author-pic">
														<img src="{% static 'images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">Maria Jones</h3>
													<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
												</div>
											</div>

										</div>
									</div>
								</div> 
								<!-- END item -->

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Slider -->

{% endblock content %}